
<html>
<p>Hi {{ recipient }},</p>
<p>Welcome to <a href="https://elegance.rent">Elegance.Rent</a>! We are so excited to partner with you and manage your vacation rental property. 
There are some time sensitive steps you will need to take to keep onboarding moving along smoothly.</p>

<p>What we need from you: 
<ol>
    <li>Please check out our <a href="https://elegance.rent/products-1">products and services</a> </li>
    <li><a href="{{ calendlyAddress }}">Schedule an onboarding call</a> that best suits your schedule </li>
    <li>Complete the <a href="https://elegance.rent/co-host-onboarding">onboarding checklist</a></li>
    <li>Review the attached document titled: Elegance Co-Host Handbook </li>
</ol>
</p>

<p>Next steps you can expect from us:
<ol>
    <li>Customized supply list to fit your current haves and needs </li>
    <li>Team of experts available to answer questions during your onboarding call </li>
    <li>Timely turnaround to maximize your revenue once pre-staging steps are all completed </li>
</ol>
</p>

<p>We are available to answer any questions you may have. Don’t hesitate to reach out for assistance!  </p>
<p>
<img src="http://db.isthisright.com/elegance/images/elegance-rent-logo.300a5f44.png" width="200px"/>
</p>
<p style="font-size:small">
<a href="mailto:info@elegance.rent">info@elegance.rent</a><br/>
Info: 800-815-8086<br/>
Direct: 310-429-8555<br/>
<span style="font-size:x-small">Mailing Address:<br/>
9110 N. Loop 1604W<br/>
Suite 104 PMB 1180<br/>
San Antonio, TX 78249<br/>
</span>
</p>


</html>