
<html>
<p>Hi {{ recipient }},</p>
<p>Welcome to the <a href="https://elegance.rent">Elegance.Rent</a> family!</p>
<p>We’re so glad you choose us as partners in managing your vacation rental property.</p>

<p></p>The next step is to decide which of our products and services will work best for you and your property.</p>

<p>Please check out our products and services at <a href="https://elegance.rent/products-1">https://elegance.rent/products-1</a>. </p>

<p>We also would like to set up an 'Onboarding' call with you. 
    Just <a href="{{ calendlyAddress }}">click here</a> to us know what's the best time for you so we can send an invitation for the call.
</p>
</html>